img {
    width: 200px;
}

h1:hover {
    color: red;
}

a {
    color: #00F800;
}

a:hover {
    color: red;
}

body {
    text-align: center;
    font-family: comic sans MS;
    
    background-color: #72575a;
}